body {
    padding: 0;
    margin: 0;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 12pt;
}

a {
    font-style: normal;
}

#footer {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 250px;
    background-color: black;
    color: white;
}

#footer address {
    font-style: normal;
}

.top-logos{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    margin: 0 25px 25px 25px;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bkg {
    background-image: url(logos/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 275%;
}

.box.one {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;
}

.box.two {
    display: flex;
    padding: 0 0 50px 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.container.one {
    background-color: floralwhite;
    padding: 4px 0 25px 0;
    width: 100%;
}

.box.three {
    /*border: aqua solid 5px;*/
    padding: 5px;
    margin: 25px 25px 25px 150px;
    width: 50%;
}

.titles {
    color: white;
    background-color: #5E1914; /*Mahogany Red*/
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}

.box.four {
    /*border: darkred solid 5px;*/
    padding: 4px 0 4px 0;
    width: 100%;
}

.box.five {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: blue solid 5px;*/
    padding: 10px 0 10px 0;
    margin: 15px 0 15px 0;
    width: 100%;
}

.box.six {
    /*border: darkred solid 5px;*/
    padding: 4px 0 4px 0;
    width: 100%;
}

.bios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 0 10px 0;
}

.bios.one {
    display: flex;
    justify-content: center;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio.one {
    padding: 0 0 0 25px;
    margin: 0 0 0 150px
}

.bio.two {
    align-self: flex-start;
    justify-items: left;
    margin-left: 200px;
}

.bio.three {
    padding: 0 75px 0 25px;
    margin: 25px 25px 25px 150px;
}

.bio.four{
    padding: 0 0 0 100px;
}

.box.seven {
    /*border: darkred solid 5px;*/
    padding: 4px 0 4px 0;
    width: 100%;
}

.box.eight{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.container.three {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}

.box.nine{
    padding: 10px 65px 10px 10px;}

.box.ten{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 65px 10px 10px;
}

.box.eleven{
    padding: 10px 65px 10px 20px;}